<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Announcements</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e4cf01112b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="container-fluid" style="height: 100vh;">

        <div class="container-fluid justify-content-center" style="height: 60vh; width: 75%; margin: auto;">
            <div class="card m-3" style="height: inherit;">
                <h5 class="card-header" style="text-align: center;">Announcements</h5>
                <div class="card-body" style="overflow-y:auto;">
                  <h5 class="card-title" style="text-align: center;">Below is the list of recent announcements</h5>
                  <p class="card-text">This is an announcement</p>
                  <p class="card-text">This is an announcement</p>
                  <p class="card-text">This is an announcement</p>
                  <p class="card-text">This is an announcement</p>
                  <p class="card-text">This is an announcement</p>
                  <p class="card-text">This is an announcement</p>
                  <p class="card-text">This is an announcement</p>
                  <p class="card-text">This is an announcement</p>
                  <p class="card-text">This is an announcement</p>
                  
                </div>
                <div class="card-footer" style="text-align: center;">
                    <a href="#" class="btn btn-light btn-outline-danger">Go To Live Discussion Room</a>
                </div>
            </div>
        </div>

        <div class="container-fluid justify-content-center " style=" width: 75%; margin: auto;">
            <div class="card m-3 b-3">
                <h5 class="card-header" style="text-align: center;">Subject commits</h5>
                <!-- <div class="card-body" > -->
                    <br><br>
                    <ul class="list-group list-group-flush">
                        <button type="button" class="btn btn-light btn-outline-danger m-1">Commit-1</button>
                        <button type="button" class="btn btn-light btn-outline-danger m-1">Commit-2</button>
                        <button type="button" class="btn btn-light btn-outline-danger m-1">Commit-3</button>
                        <button type="button" class="btn btn-light btn-outline-danger m-1">Commit-4</button>
                        <button type="button" class="btn btn-light btn-outline-danger m-1">Commit-5</button>
                        <button type="button" class="btn btn-light btn-outline-danger m-1">Commit-6</button>
                        <button type="button" class="btn btn-light btn-outline-danger m-1">Commit-7</button>
                    </ul>
                    <br><br>
                <!-- </div> -->
                
            </div>
        </div>

        <div class="m-3" style="height: 0.25em;">
        </div>

    </div>

</body>
</html>