  
  body {
     
    background-color:white;
  }
  
  .content {
      min-height:70vh;
      margin:2rem;
  }
  
  
  .box {
      width:30vw;
      margin:20px auto;
     
  }

  .Box{
      border: 2px black solid;
      border-radius: 4px;
      margin:3px;
      padding: 5px;
  }